apiVersion: v1
kind: Service
metadata:
  name: flask-service
  namespace: flask-app
spec:
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: 80          # Cluster-internal service port
      targetPort: 5000  # Container port
      nodePort: 30008   # NodePort for external access (must be free)
  type: NodePort
